/* ToDo AppliCation */

.styling{
    font-size: 17px;
     font-family: 'Times New Roman', Times, serif;
      color: green;
       background-color: white ;
        border-radius: 30px;
         padding: 6.375px 12.75px;   
         margin-left: 30px;       
}
.stylingbtn{
    font-size: 17px;
     font-family: 'Times New Roman', Times, serif;
      color: red;
       background-color: white ;
        border-radius: 20px;
         padding: 6.375px 12.75px;
          margin-left: 10px;          
}
.listyle{
    border-radius: 7px;
    background-color: white;
    color: black;
    margin-bottom: 30px;
}

@media screen and (max-width: 980px) {
    #input{
      max-width: 500px;
      text-align: center;
    
    }
    body{
        background-color: blue;
    }
  }
  @media screen and (max-width: 785px) {
    #input{
      max-width: 300px;
      text-align: center;
    }
    body{
        background-color: green;
    }
  }
  @media screen and (max-width: 580px) {
    #input{
      max-width: 120px;
      text-align: center;
    }
    body{
        background-color: green;
    }
  }
  @media screen and (max-width: 50px) {
    #input{
      max-width: 1000px;
      text-align: center;
    }
    body{
        background-color: green;
    }
  }